* {
    margin: 0;
    padding: 0;
}
.panel {
    display: flex;
    float:left;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100vh;
}
#p1{
    background-color: powderblue; 
    color: black}
#p2{
    background-color: plum; 
    color: black}
#p3{
    background-color: coral; 
    color: black}
#p4{
    background-color: orchid; 
    color: black}