* {
    margin: 0;
    padding: 0;
}
:root {
    --panel-width-initial: 25%;
    --panel-width-hover: 40%;
    --panel-width-extra: 20%;
}
.panel {
    display: flex;
    float:left;
    align-items: center;
    justify-content: center;
    width: var(--panel-width-initial);
    height: 100vh;
}
#p1{
    background-color: powderblue;
}
#p2{
    background-color: plum;
}
#p3{
    background-color: coral;
}
#p4{
    background-color: orchid; 
}